$('.answer-errors').html('<%= render 'shared/errors', resource: @answer %>')

<% if @answer.persisted? %>
  $('.answers').append("<div id=\"answer-<%= @answer.id %>\"><%= j render @answer %></div>")
  $('.new-answer').replaceWith($('.blank-new-answer').clone(true).attr('class', 'new-answer'))
<% end %>
